<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head><title>Chatuos | Login</title></h:head>
    <h:body>
        <p:growl id="growl" sticky="true" showDetail="true"/>
        <h:form>
            <p:panelGrid columns="2">
                <f:facet name="header">Login</f:facet>
                <h:outputText value="Username"/>
                <p:inputText value="#{users.username}"/>
                <h:outputText value="Password"/>
                <p:inputText type="password" value="#{users.password}"/>
                <f:facet name="footer">
                    <p:commandButton value="Login" action="#{users.loginController}">
                        <f:ajax event="click" onevent="alert('Working very well');"/>
                    </p:commandButton>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </h:body>    
</html>

